.container {
  display: flex;
}

.section {
  flex: 1; /*grow*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px !important;
}

.block {
  flex: 1; /*grow*/
  margin: 10px !important;
  background-color: #fff;
  cursor: pointer;
}

.notice a {
  color: #fff !important;
}

@media (max-width: 768px) { /*breakpoint*/
  .container {
    flex-direction: column;
  }
}
